{% load static %}
<!-- {% static "assets/img/gallery" as baseUrl %} -->
<!doctype html>
<html class="no-js" lang="eng">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Code Core </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="manifest" href="{% static 'site.webmanifest' %}"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

	<!-- CSS here -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
    <div class="subscription">
    {% for message in messages %}
    <div class="container-fluid p-0">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    </div>
    {% endfor %}
    </div>
    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/loder.png'%}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top d-none d-lg-block">
                    <!-- Left Social -->
                    <div class="header-left-social">
                        <ul class="header-social">    
                            <li><a href="https://twitter.com/code_core"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/codec_ore"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com/code.core.9619"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/codec_ore"><i class="fab fa-google"></i></a></li>
                        </ul>
                    </div>
                    <div class="container">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>     
                                        <li>codecore8@gmail.com</li>
                                        <li></li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul>
                                        {% if user.is_authenticated %}
                                        <li><div class="dropdown">
                                        {% if user.is_staff or user.is_superuser %}                                        
                                        <a href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-user"></i>Hello, {{user.username}}</a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <a class="dropdown-item" type="button" href="{% url 'edit_profile' %}">User Profile</a>
                                            <a class="dropdown-item" type="button" href="{% url 'my_blog' %}">My Blogs</a>
                                            <a class="dropdown-item" type="button" href="#">My Courses</a>                                            
                                        </div>
                                        {% else %}
                                        <a href="{% url 'edit_profile' %}"><i class="ti-user"></i>Hello, {{user.username}}</a>
                                        {% endif %}
                                        </div></li>
                                        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                                        {% else %}
                                        <li><a href="{% url 'login' %}"><i class="ti-user"></i>Login</a></li>
                                        <li><a href="{% url 'register' %}"><i class="ti-lock"></i>Register</a></li>
                                        {% endif %} 
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Moble login -->
                <div class="header-top d-lg-none">
                    <div class="container">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                 
                                </div>
                                <div class="header-info-right">
                                    <ul>
                                        {% if user.is_authenticated %}
                                        <li><div class="dropdown">
                                        {% if user.is_staff or user.is_superuser %}                                        
                                        <a href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-user"></i>Hello, {{user.username}}</a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <a class="dropdown-item" type="button" href="{% url 'edit_profile' %}">User Profile</a>
                                            <a class="dropdown-item" type="button" href="{% url 'my_blog' %}">My Blogs</a>
                                            <a class="dropdown-item" type="button" href="#">My Courses</a>                                            
                                        </div>
                                        {% else %}
                                        <a href="{% url 'edit_profile' %}"><i class="ti-user"></i>Hello, {{user.username}}</a>
                                        {% endif %}
                                        </div></li>
                                        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                                        {% else %}
                                        <li><a href="{% url 'login' %}"><i class="ti-user"></i>Login</a></li>
                                        <li><a href="{% url 'register' %}"><i class="ti-lock"></i>Register</a></li>
                                        {% endif %} 
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Moble login -->
                <div class="header-bottom header-sticky">
                    <!-- Logo -->
                    <div class="logo d-none d-lg-block">
                        <a href="#"><img src="{% static 'assets/img/logo/logo.png'%}" alt=""></a>
                    </div>
                    <div class="container">
                        <div class="menu-wrapper">
                            <!-- Logo -->
                            <div class="logo logo2 d-block d-lg-none">
                                <a href="#"><img src="{% static 'assets/img/logo/logo.png'%}" alt=""></a>
                            </div>
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">                                                                                          
                                        <li><a href="{% url 'index' %}">Home</a></li>
                                        <li><a href="#">Courses</a></li>
                                        <li><a href="{% url 'blog' %}">Blog</a>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- Header-btn -->
                            <div class="header-search d-none d-lg-block">
                                <form action="#" class="form-box f-right ">
                                    <input type="text" name="Search" placeholder="Search Courses">
                                    <div class="search-icon">
                                        <i class="fas fa-search special-tag"></i>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-lg-7 col-md-8">
                                <div class="hero__caption">
                                    <span data-animation="fadeInLeft" data-delay=".2s">Popular Online Courses</span>
                                    <h1 data-animation="fadeInLeft" data-delay=".4s">The New Way To Learn Properly in With Us!</h1>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="register/register" class="btn hero-btn"  data-animation="fadeInLeft" data-delay=".8s">Get Started</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-5">
                                <div class="hero-man d-none d-lg-block f-right" data-animation="jello" data-delay=".4s">
                                    <img src="{% static 'assets/img/hero/heroman.png'%}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-lg-7 col-md-8">
                                <div class="hero__caption">
                                    <span data-animation="fadeInLeft" data-delay=".2s">Popular Online Courses</span>
                                    <h1 data-animation="fadeInLeft" data-delay=".4s">The New Way To Learn Properly in With Us!</h1>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="industries.html" class="btn hero-btn"  data-animation="fadeInLeft" data-delay=".8s">Get Started</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-5">
                                <div class="hero-man d-none d-lg-block f-right" data-animation="jello" data-delay=".4s">
                                    <img src="{% static 'assets/img/hero/heroman.png'%}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!--? Categories Area Start -->
        <div class="categories-area section-padding30">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-70">
                            <span>Popular Online Courses</span>
                            <h2>Lets Brows All Catagori</h2>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-web-design"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a  href="#">Web Design</a></h5>
                                <p>Web design encompasses many different skills and disciplines in the production and maintenance of websites.</p>
                                <a href="#" class="read-more1">Read More ></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-education"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a  href="#">App Development</a></h5>
                                <p>App Development refers to the creation of computer applications for use on mobile devices such as tablets, smartphones.</p>
                                <a  href="#" class="read-more1">Read More ></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-communications"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a  href="#">Software Development</a></h5>
                                <p>Software development is the process of designing, programming, testing, documenting, or other software components. </p>
                                <a  href="#" class="read-more1">Read More ></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-computing"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a  href="#">Digital Marketing</a></h5>
                                <p>Digital marketing is the component of marketing that utilizes internet and online based digital technologies and other digital media. </p>
                                <a  href="#" class="read-more1">Read More ></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-tools-and-utensils"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a  href="#">Seo Marketing</a></h5>
                                <p>Search engine optimization is the process of improving the quality and quantity of website traffic to a website from search engines.</p>
                                <a  href="#" class="read-more1">Read More ></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-business"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a  href="#">Content Writing</a></h5>
                                <p>Content writing is the process of planning, writing and editing web content, typically for digital marketing purposes.</p>
                                <a  href="#" class="read-more1">Read More ></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section Button -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="browse-btn2 text-center mt-50">
                            <a href="#" class="btn">Find More Courses</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Categories Area End -->

        <!--? Popular Course Start -->
        <div class="popular-course section-padding30">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-70">
                            <span>Most Popular Course Of This Week</span>
                            <h2>Our Popular Course</h2>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    {% for course in courses %}
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <!-- Single course -->
                        <div class="single-course mb-40">
                            <div class="course-img">
                                <img src=" {{course.img.url}} " alt="">
                            </div>
                            <div class="course-caption">
                                <div class="course-cap-top">
                                    <h4><a href="#">{{ course.title }}</a></h4>
                                </div>
                                <div class="course-cap-mid d-flex justify-content-between">
                                    <div class="course-ratting">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <ul><li>{{ course.review }} Review</li></ul>
                                </div>
                                <div class="course-cap-bottom d-flex justify-content-between">
                                    <ul>
                                        <li><i class="ti-user"></i> {{ course.members }}</li>
                                        <li><i class="ti-heart"></i>{{ course.likes }}</li>
                                    </ul>
                                    <span>{{ course.price}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Section Button -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="browse-btn2 text-center mt-50" >
                            <a href="#" class="btn">Find More Courses</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Popular Course End -->
        
        <!--? Blog Area Start -->
        <div class="home-blog-area section-padding30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-50">
                            <span>Our Latest News From Our Blog</span>
                            <h2>Latest News From Blog</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for blogs in blogs%}
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="home-blog-single mb-30">
                            <div class="blog-img-cap">
                                <div class="blog-img">
                                    <img src="{{blogs.img.url}}" alt="">
                                    <!-- Blog date -->
                                    <div class="blog-date text-center">
                                        <a href="{% url 'date' blogs.date.date|slugify %}">
									        <span>{{ blogs.date.date}}</span>
								        </a>
                                    </div>
                                </div>
                                <div class="blog-cap">
                                    <h3><a href="{% url 'blog-detail' blogs.pk %}">{{ blogs.title}}</a></h3>
                                    <p>{{ blogs.description}}</p>
                                    <a href="{% url 'blog-detail' blogs.pk %}" class="more-btn">Read more »</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="browse-btn2 text-center mt-50" >
                                <a href="{% url 'blog' %}" class="btn">Find More Blogs</a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- Blog Area End -->
    </main>
    <footer>
        <!--? Footer Start-->
        <div class="footer-area footer-bg">
            <div class="container">
                <div class="footer-top footer-padding">
                    <!-- footer Heading -->
                    <div class="footer-heading">
                        <div class="row justify-content-between">
                            <div class="col-xl-6 col-lg-7 col-md-10">
                                <div class="footer-tittle2">
                                    <h4>Stay Updated</h4>
                                </div>
                                <!-- Form -->
                                <div class="footer-form mb-50">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="" method="POST" class="subscribe_form relative mail_part" novalidate="true" id = "subscribe" form method = 'POST'>
                                            {% csrf_token %}                                         
                                            <input id = "email_id" name = "email_id" type="email" placeholder=" Email Address " class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'" required="">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id = "email_submit" class="email_icon newsletter-submit button-contactForm">
                                                    Subscribe Now
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5">
                                <div class="footer-tittle2">
                                    <h4>Let’s Get Social</h4>
                                </div>
                                <!-- Footer Social -->
                                <div class="footer-social">
                                    <a href="https://www.facebook.com/code.core.9619"><i class="fab fa-facebook-f"></i></a>
                                    <a href=" https://twitter.com/code_core"><i class="fab fa-twitter"></i></a>
                                    <a  href="https://www.instagram.com/codec_ore"><i class="fab fa-google"></i></a>
                                    <a href="https://www.instagram.com/codec_ore"><i class="fab fa-instagram"></i></a>
                                    <a href="https://www.instagram.com/codec_ore"><i class="fab fa-youtube"></i></a>
                                  </div>
                            </div>
                        </div>
                    </div>
                    
                <!-- Footer Bottom -->
                <div class="footer-bottom">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-12">
                            <div class="footer-copy-right text-center">
                                <p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is edited with<i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://www.instagram.com/codec_ore" target="_blank">Code_ore</a>
                                </p>
                                <p>
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static './assets/js/popper.min.js' %}"></script>
    <script src="{% static './assets/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static './assets/js/slick.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static './assets/js/wow.min.js' %}"></script>
    <script src="{% static './assets/js/animated.headline.js' %}"></script>
    <script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

    <!-- Date Picker -->
    <script src="{% static './assets/js/gijgo.min.js' %}"></script>
    <!-- Nice-select, sticky -->
    <script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static './assets/js/jquery.sticky.js' %}"></script>
    
    <!-- counter , waypoint -->
    <script src="{% static './assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static './assets/js/waypoints.min.js' %}"></script>
    
    <!-- contact js -->
    <script src="{% static './assets/js/contact.js' %}"></script>
    <script src="{% static './assets/js/jquery.form.js' %}"></script>
    <script src="{% static './assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static './assets/js/mail-script.js' %}"></script>
    <script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="{% static './assets/js/plugins.js' %}"></script>
    <script src="{% static './assets/js/main.js' %}"></script>
    <script src="{% static './assets/js/render.js' %}"></script>

    <script>
    $('#subscribe').submit(function(e){
        e.preventDefault();
        var email_id = $("#email_id").val();
        if(email_id){
            var csrfmiddlewaretoken = csrftoken;
            var email_data = {"email_id": email_id, 
                            "csrfmiddlewaretoken" : csrfmiddlewaretoken};
            $.ajax({
            type : 'POST',
            url :  '/subscribe/',
            data : email_data,
            success : function(response){
                $('#email_id').val(''); 
                if(response.status == "404"){
                $('.subscription').load(document.URL +  ' .subscription');
                //alert("This Email is already been subscribed!");
                }
                else{
                $('.subscription').load(document.URL +  ' .subscription');
                //alert("Thank you for Subscribing! Please Check your Email to Confirm the Subscription");
                }
            },
            error: function(response) {
                alert("Sorry Something went Wrong");
                $('#email_id').val(''); 
            }
            });
            return false;
        }
        else{
            alert("Please provide correct email!");
        }
    });
    

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    })
    </script>

    </body>
</html>