{% extends 'header.html' %}
{% load static %}
{% block content%}

<!-- Percentage Bar Start -->
<div class="percentage">
	<div class="progress">
		<div class="progress-bar color-1" role="progressbar" style="width: 100%"
			aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
</div>
<!-- Percentage Bar End -->

<!-- Form Start -->
<div class="home-blog-area section-padding10">
	<div class="container">
		<!-- Section Tittle -->
		<div class="row">
			<div class="col-lg-12">
				<div class="section-tittle text-center mb-50">
					<h2>User Profile</h2>
				</div>
			</div>
		</div>
        <!-- Section Tittle -->

        <div class="section-tittle text-left mb-50">          
            <a href="{% url 'edit_profile' %}" class="genric-btn primary radius">Edit Profile</a>
            <a href="{% url 'password' %}" class="genric-btn primary-border radius"> Change Password</a>
        </div>
        
        <div class="row">
            <div class="subscription">
                {% for message in messages %}
                <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                </div>
                {% endfor %}
                </div>
            <!-- ============================================================== -->
            <!-- validation form -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 section-tittle mb-2">
                <div class="card">
                    <h5 class="card-header">Edit Profile</h5>
                    <div class="card-body">
                        <form class="needs-validation" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                    <label for="validationCustom01">First name</label>
                                        {{form.first_name}}
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                    <label for="validationCustom02">Last name</label>
                                        {{form.last_name}}
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                    <label for="validationCustomUsername">Username</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                        </div>
                                        {{form.username}}
                                    </div>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                                    <label for="validationCustom02">Email</label>
                                        {{form.email}}
                                </div>
                                <button class="genric-btn primary e-large mr-2 mb-2 mt-2 ml-3" type="submit">Update Profile</button>
                        </form>

                            <button class="genric-btn danger e-large ml-2 mb-2 mt-2" type="button" data-toggle="modal" data-target="#staticBackdrop">Delete Account</button>
                            </div> <!-- Row End -->
                            <form  action="." method="POST" class="delete_accounts">
                            {% csrf_token %}
                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Confirm Delete</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Do you really want to delete your account? If you delete your account, you will permanently lost your profile.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="genric-btn primary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="genric-btn danger">Delete</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                            </form>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end validation form -->
            <!-- ============================================================== -->
        </div>
    </div>
</div> 
<!-- Form End -->
<!-- Success Modal -->
<form action="." method="POST" class="success_redirect">
{% csrf_token %}
<!-- Modal -->
<div id="success_modal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">		
				<h4 class="modal-title w-100">Successful!</h4>	
			</div>
			<div class="modal-body">
				<p class="text-center">Your account has been Successfully deleted.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-block" type="submit">OK</button>
			</div>
		</div>
	</div>
</div>   
<!-- Modal -->
</form> 
<!-- Success Modal JS-->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
    window.page_data = {
       main_url: "{% url 'index'%}",
       delete_account_url: "{% url 'delete_account'%}",
    };
</script>
<script src="{% static 'assets/js/ajax_account.js' %}"></script>
<!-- Success Modal JS-->
<!-- Modal CSS -->
<link href="{% static 'assets/css/modal_success.css' %}" rel="stylesheet">
<!-- Modal CSS -->
{% endblock %}
