{% extends 'header.html' %}
{% load static %}
{% block content %}

<!-- Percentage Bar Start -->
<div class="percentage">
	<div class="progress">
		<div class="progress-bar color-1" role="progressbar" style="width: 100%"
			aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
</div>
<!-- Percentage Bar End -->

<!--? Blog Area Start -->
<div class="home-blog-area section-padding10">
	<div class="container">
		<!-- Section Tittle -->
		<div class="row">
			<div class="col-lg-12">
				<div class="section-tittle text-center mb-50">
					<h2>My Blog Post</h2>
					<!-- Add Post Button Start-->
					<div style="text-align:right;border: 100px;">
						<div class="button-group-area mt-10">
							<a href="{% url 'add_post' %}" class="genric-btn danger circle">Add Post</a>
							<a href="{% url 'add_category' %}" class="genric-btn info circle">Add Category</a>
						</div>
					</div>
					<br><br>
					<!-- Add Post Button End -->
				</div>
			</div>
		</div>
		<div class="row">
			{% if bool == True %} 
			{% for blogs in page_obj %}
			<div class="col-xl-6 col-lg-6 col-md-6">
				<div class="home-blog-single mb-30">
					<div class="blog-img-cap">
						<div class="blog-img">
							<img src="{{blogs.img.url}}" alt="">
							<!-- Blog date -->
							<div class="blog-date text-center">
								<a href="{% url 'date' blogs.date.date|slugify %}">
									<span>{{ blogs.date.date}}</span>
								</a>
							</div>
						</div>
						<div class="blog-cap" style="padding-right: 2%;"> 
							<h3><a href="{% url 'blog-detail' blogs.pk %}">{{ blogs.title}}</a></h3>	
							<ul class="blog-info-link">
								<li><a href="{% url 'author' blogs.author|slugify %}"><i class="fa fa-user"></i>{{ blogs.author}}</a></li>
								<li><a href=""><i class="fa fa-comments"></i>{{ blog.comment.count }} Comments</a></li>
								<br><br>
							</ul>
							<div style="text-align:right;border: 100px;">
								<div class="button-group-area mt-10">
									<a href="{% url 'update_post' blogs.pk %}" class="genric-btn success circle" style="text-align-last: right;">Edit</a>
									<a href="{% url 'delete_post' blogs.pk %}" class="genric-btn danger circle">Delete</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			{% else %}
			<h1>No Post Found!!</h1>
			{% endif %}
		</div>
			<!-- Pagination Start-->
			<nav class="blog-pagination justify-content-center d-flex">
			<ul class="pagination">                            
				{% if page_obj.has_previous %}
				<li class="page-item">
					<a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
						<i class="ti-angle-left"></i>
					</a>
				</li>
				{% endif %}

				{% for n in page_obj.paginator.page_range %}
				{% if page_obj.number == n %}
					<li class="page-item active">
					<span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
					</li>
				{% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
					<li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
				{% endif %}
				{% endfor %}
				
				{% if page_obj.has_next %}
				<li class="page-item">
					<a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
						<i class="ti-angle-right"></i>
					</a>
				</li>
				{% endif %}
			</ul>
		</nav>
		<!-- Pagination End-->
	</div>
</div>
<!-- Blog Area End -->


{% comment %} <!-- New Blog Area Start -->
<div class="container-fluid">
  <div class="px-lg-5">
    <div class="row">
	  {% if bool == True %} 
	  {% for blogs in page_obj %}
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm"><img src="{{blogs.img.url}}" alt="" class="img-fluid card-img-top">
			<!-- Blog date -->
			<div class="blog-date text-center">
				<a href="{% url 'date' blogs.date.date|slugify %}">
					<span>{{ blogs.date.date}}</span>
				</a>
			</div>
		  <div class="p-4">
            <h5> <a href="{% url 'blog-detail' blogs.pk %}" class="text-dark">{{blogs.title}}</a></h5>
            <p class="small text-muted mb-0">{{blogs.description}}</p>
            <div class="d-flex align-items-right justify-content-between rounded-pill bg-light">
				<div style="text-align:right;border: 100px;">
				<ul class="blog-info-link">
					<li><a href="{% url 'author' blogs.author|slugify %}"><i class="fa fa-user"></i>{{ blogs.author}}</a></li>
					<li><a href=""><i class="fa fa-comments"></i>{{ blogs.comment.count }} Comments</a></li>
					<br><br>
				</ul>
				</div>
            </div>
			<div style="text-align:right;border: 100px;">
				<div class="button-group-area mt-10">
					<a href="{% url 'update_post' blogs.pk %}" class="badge badge-primary px-3 rounded-pill font-weight-normal">Edit</a>
					<a href="{% url 'delete_post' blogs.pk %}" class="badge badge-danger px-3 rounded-pill font-weight-normal">Delete</a>
				 </div>
			</div>
          </div>
        </div>
      </div>
    <!-- End -->
	{% endfor %}
	{% else %}
	<img src="{% static 'assets/img/no_post.png' %}" alt="" style="background-repeat: no-repeat;height:fit-content; width:160%;">
	{% endif %}
    </div>
    <div class="py-5 text-right">  
		<!-- Pagination Start-->
		<nav class="blog-pagination justify-content-center d-flex">
		<ul class="pagination">                            
			{% if page_obj.has_previous %}
			<li class="page-item">
				<a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
					<i class="ti-angle-left"></i>
				</a>
			</li>
			{% endif %}

			{% for n in page_obj.paginator.page_range %}
			{% if page_obj.number == n %}
				<li class="page-item active">
				<span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
				</li>
			{% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
				<li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
			{% endif %}
			{% endfor %}
			
			{% if page_obj.has_next %}
			<li class="page-item">
				<a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
					<i class="ti-angle-right"></i>
				</a>
			</li>
			{% endif %}
		</ul>
	</nav>
	<!-- Pagination End-->
	</div>
  </div>
</div>
<!-- New Blog Area End --> {% endcomment %}

{% endblock %}

