{% extends 'header.html' %}
{% load static %}
{% block content %}
{% comment %} {% block title %} Create a New Blog Post {% endblock %} {% endcomment %}
<div class="container">
	<h1>Add Post</h1>
	<br><br>
	<div class="row">
	    <div class="col-md-8 col-md-offset-2">
			<div class="form-group">   		
				<form  method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{{form.media}} 
					{{form.as_p}} 		       		    
					<button class="btn btn-primary">Create</button>
				</form>
			</div>
		</div>
	</div>
</div>	
<script>
	var name = "{{ user.id }}";
	document.getElementById("auth").value = name;
</script>

{% endblock %}
