{% extends 'header.html' %}
{% load static %}
{% block content%}

<!-- Percentage Bar Start -->
<div class="percentage">
	<div class="progress">
		<div class="progress-bar color-1" role="progressbar" style="width: 100%"
			aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
</div>
<!-- Percentage Bar End -->

<div class="home-blog-area section-padding10">
	<div class="container">
		<!-- Section Tittle -->
		<div class="row">
			<div class="col-lg-12">
				<div class="section-tittle text-center mb-50">
					<h2>Add Category</h2>
				</div>
			</div>
		</div>
		<!-- Section Tittle -->
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="form-group">   		
					<form  method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						{{form.media}} 
						{{form.as_p}} 		       		    
						<button class="btn btn-primary">Add Category</button>
					</form>
				</div>
			</div>
		</div>
	</div>	
</div>
{% endblock %}
