{% extends 'header.html' %}
{% load static %}
{% block title %} Blog {% endblock %}
{% block content %}
<!--? Hero Start -->
<div class="slider-area ">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 text-center">
                        <h2>Blog</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!--================Blog Area =================-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    {% if page_obj.object_list %}<!-- check for number of objects -->        
                    {% else %}
                    <h1>No Result Found</h1>
                    {% endif %}
                    {% for blogs in page_obj %}
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{{blogs.img.url}}" alt="">
                            <a href="{% url 'date' blogs.date.date|slugify %}" class="blog_item_date">
                                <h3>{{ blogs.date.date}}</h3>
                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="{% url 'blog-detail' blogs.pk %}">
                                <h2 class="blog-head" style="color: #2d2d2d;">{{ blogs.title}}</h2>
                            </a>
                            <p>{{ blogs.description}}</p>
                            <ul class="blog-info-link">
                                <li><a href="{% url 'author' blogs.author|slugify %}"><i class="fa fa-user"></i>{{ blogs.author}}</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i>{{ blogs.comment.count }} Comments</a></li>
                            </ul>
                        </div>
                    </article>
                    {% endfor %}
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">                            
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}" class="page-link" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            {% endif %}

                            {% for n in page_obj.paginator.page_range %}
                            {% if page_obj.number == n %}
                                <li class="page-item active">
                                <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                                </li>
                            {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="?page={{ n }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">{{ n }}</a></li>
                            {% endif %}
                            {% endfor %}
                            
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"  name="q" value="{{request.GET.q}}" placeholder='Search Keyword'
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Search Keyword'" required="">
                                    <div class="input-group-append">
                                        <button class="btns" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                type="submit">Search</button>
                        </form>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title" style="color: #2d2d2d;">Category</h4>
                        <ul class="list cat-list">
                            {% for items in cat_menu %}
                            <li>
                                <a href="{% url 'category' items.category|slugify %}" class="d-flex">
                                    <p>{{ items }}</p>
                                    <p>{{ items|length }}</p>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title" style="color: #2d2d2d;">Recent Post</h3>
                        {% for blogs in recent_blog %}
                        <div class="media post_item">
                            <img src="{{blogs.img.url}}" alt="post"style="height: 80px; width: 80px;">
                            <div class="media-body">
                                <a href="{% url 'blog-detail' blogs.pk %}">
                                    <h3 style="color: #2d2d2d;">{{blogs.title}}</h3>
                                </a>
                                <p>{{blogs.time}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </aside>
                    <aside class="single_sidebar_widget tag_cloud_widget">
                        <h4 class="widget_title" style="color: #2d2d2d;">Tag Clouds</h4>
                        <ul class="list">
                            <li>
                                <a href="#">project</a>
                            </li>
                            <li>
                                <a href="#">love</a>
                            </li>
                            <li>
                                <a href="#">technology</a>
                            </li>
                            <li>
                                <a href="#">travel</a>
                            </li>
                            <li>
                                <a href="#">restaurant</a>
                            </li>
                            <li>
                                <a href="#">life style</a>
                            </li>
                            <li>
                                <a href="#">design</a>
                            </li>
                            <li>
                                <a href="#">illustration</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget newsletter_widget">
                        <h4 class="widget_title" style="color: #2d2d2d;">Newsletter</h4>
                        <form action="#">
                            <div class="form-group">
                                <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                type="submit">Subscribe</button>
                        </form>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->
{% endblock %}