{% extends 'header.html' %}
{% load static %}
{% block title %} {{ cats }} {% endblock %}
{% block content %}

<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding" style="padding:20px;">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 posts-list">
            <div class="single-post">
               <div class="feature-img">
                  <img class="img-fluid" src="{{blog.img.url}}" alt="">
               </div>
               <div class="blog_details">
                  <h2 style="color: #2d2d2d;">
                  {{ blog.title }}
                  </h2>
                  <ul class="blog-info-link mt-3 mb-4">
							<li><a href="{% url 'author' blog.author|slugify %}"><i class="fa fa-user"></i>{{ blog.author}}</a></li>
                     <li><a href=""><i class="fa fa-comments"></i>{{ comments_count }} Comments</a></li>
                  </ul>
                  <p class="excert">
                     {{blog.content|safe}}
                  </p>
               </div>
            </div>
            
            <div class="navigation-top">
               <div class="d-sm-flex justify-content-between text-center">
                  <div id="like-section">
                  {% include 'blog/like_section.html' %}
                  </div>
                  <ul class="social-icons">
                     <a href="https://www.facebook.com/code.core.9619"><i class="fab fa-facebook-f"></i></a>
                     <li><a href="https://www.facebook.com/code.core.9619"><i class="fab fa-facebook-f"></i></a></li>
                     <li><a href="https://twitter.com/code_core"><i class="fab fa-twitter"></i></a></li>
                     <li><a href="https://www.instagram.com/codec_ore"><i class="fab fa-instagram"></i></a></li>
                     <li><a href="https://www.instagram.com/codec_ore"><i class="fab fa-youtube"></i></a></li>
                  </ul>
               </div>
               <div class="navigation-area">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                        {% comment %} <div class="thumb">
                           <a href="{% url 'blog-detail' blog.get_previous_by_date.pk%}">
                              <img class="img-fluid" src="{{blog.get_previous_by_date.img.url}}" alt="previous post" style="width:60px;height:60px">
                           </a>
                        </div>
                        <div class="arrow">
                           <a href="{% url 'blog-detail' blog.get_previous_by_date.pk%}">
                              <span class="lnr text-white ti-arrow-left"></span>
                           </a>
                        </div> {% endcomment %}
                        <div class="detials">
                        {% if blog.get_previous_by_date %}
                           <p>Prev Post</p>
                           <a href="{% url 'blog-detail' blog.get_previous_by_date.pk%}">
                              <h4 style="color: #2d2d2d;">{{blog.get_previous_by_date.title}}</h4>
                           </a>
                        {% endif %}
                        </div>
                     </div>
                     <div
                        class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                        <div class="detials">                      
                        {% if blog.get_next_by_date %}
                           <p>Next Post</p>
                           <a href="{% url 'blog-detail' blog.get_next_by_date.pk %}">
                              <h4 style="color: #2d2d2d;">{{blog.get_next_by_date.title}}</h4>
                           </a>
                        {% endif %}
                        </div>
                        {% comment %} <div class="arrow">
                           <a href="{% url 'blog-detail' blog.get_next_by_date.pk %}">
                              <span class="lnr text-white ti-arrow-right"></span>
                           </a>
                        </div>
                        <div class="thumb">
                           <a href="{% url 'blog-detail' blog.get_next_by_date.pk%}">
                              <img class="img-fluid" src="{{blog.get_next_by_date.img.url}}" alt="" style="width:60px;height:60px">
                           </a>
                        </div> {% endcomment %}
                     </div>
                  </div>
               </div>
            </div>    
            <!--  Comment Start  -->
            <div class="comment-section">
               {% include 'blog/comments.html' %}
            </div>
            <!--  Comment End  -->
         <div class="col-lg-4">
            <div class="blog_right_sidebar">
               <aside class="single_sidebar_widget search_widget">
                  <form action="">
                     <div class="form-group">
                        <div class="input-group mb-3">
                           <input type="text" class="form-control" placeholder='Search Keyword'
                              onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                           <div class="input-group-append">
                              <button class="btns" type="button"><i class="ti-search"></i></button>
                           </div>
                        </div>
                     </div>
                     <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                        type="submit">Search</button>
                  </form>
               </aside>
               <aside class="single_sidebar_widget post_category_widget">
                  <h4 class="widget_title" style="color: #2d2d2d;">Category</h4>
                  <ul class="list cat-list">
                     {% for items in cat_menu %}
                     <li>
                           <a href="{% url 'category' items.category|slugify %}" class="d-flex">
                              <p>{{ items }}</p>
                              {% comment %} <p>{{ items.count }}</p> {% endcomment %}
                           </a>
                     </li>
                     {% endfor %}
                  </ul>
               </aside>
               <aside class="single_sidebar_widget popular_post_widget">
                  <h3 class="widget_title" style="color: #2d2d2d;">Recent Post</h3>
                     {% for recent_blog in recent_blog %}
                           <div class="media post_item">
                              <img src="{{recent_blog.img.url}}" alt="post"style="height: 80px; width: 80px;">
                              <div class="media-body">
                                    <a href="{% url 'blog-detail' recent_blog.pk %}">
                                       <h3 style="color: #2d2d2d;">{{recent_blog.title}}</h3>
                                    </a>
                                    <p>{{recent_blog.date| timesince }} ago</p>
                              </div>
                           </div>
                     {% endfor %}
               </aside>
               <aside class="single_sidebar_widget newsletter_widget">
                  <h4 class="widget_title" style="color: #2d2d2d;">Newsletter</h4>
                  <form action="#">
                     <div class="form-group">
                        <input type="email" class="form-control" onfocus="this.placeholder = ''"
                           onblur="this.placeholder = 'Enter email'" placeholder='Enter email'required>
                     </div>
                     <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                        type="submit">Subscribe</button>
                  </form>
               </aside>
            </div>
         </div>
      </div>
   </div>
</section>
</div>
<!--================ Blog Area end =================-->
<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<!--  javascript  -->
<script>
window.page_data = {
   login_url: "{% url 'login' %}",
   like_url: "{% url 'like_post' blog.pk %}",
   add_comment_url: "{% url 'add_comment' blog.pk %}",
   delete_comment_url: "{% url 'delete_comment' blog.pk %}"
};
</script>
<script src="{% static 'assets/js/ajax.js' %}"></script> 

<style>
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.comment-list {
  display: none;
}
</style>
{% endblock %}
