{% load static %}
<div class="comments-area">
   <h4>{{ comments_count }} Comments</h4>
   {% if not blog.comment.all %}
   <h1>There are no comments yet.</h1>
   {% else %}
   {% for comment in parent_comments  %}
   <div class="comment-list">
      <div class="single-comment justify-content-between d-flex">
         <div class="user justify-content-between d-flex">
            <div class="thumb">
               <img src="{% static 'assets/img/comment/user.png' %}" alt="">
            </div>
            <div class="desc">
               <p class="comment">
                  {{ comment.body }}
               </p>
               <div class="d-flex justify-content-between">
                  <div class="d-flex align-items-center">
                     <h5>
                        <a href="#">{{ comment.name }}</a>
                     </h5>
                     <p class="date">{{ comment.date_added }}</p>
                  </div>
               </div>
               <!-- Reply Start -->
               <!-- Reply Button -->
               <div class="reply-btn">
                  <a href="#" class="btn-reply text-uppercase p-0" type="button" data-toggle="collapse"
                     data-target="#reply-box{{comment.id}}" aria-expanded="false"
                     aria-controls="collapseExample">reply</a>
                  {% if user.username == comment.name %}
                  <form action="." method="POST" class="delete_comment">
                     {% csrf_token %}
                     <input type="hidden" name="comment_id" value="{{ comment.id }}" />
                     <button class="btn-reply text-uppercase p-0" type="button"  data-toggle="modal" data-target="#staticBackdropComment">Delete</button>
                     <!-- Modal -->
                     <div class="modal fade" id="staticBackdropComment" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel">Confirm Delete</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                              Do you really want to delete these records? This process cannot be undone.
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="genric-btn primary" data-dismiss="modal">Close</button>
                              <button type="submit" class="genric-btn danger">Delete</button>
                           </div>
                        </div>
                        </div>
                     </div>
                     <!-- Modal -->
                  </form>
                  {%endif%}
                  <div class="collapse" id="reply-box{{comment.id}}">
                     <div class="card card-body">
                        <!-- Reply Form Start -->
                        <form class="form-contact comment_form" action="{% url 'add_comment' blog.pk %}"
                           id="commentForm" method="POST">
                           {% csrf_token %}
                           <div class="row">
                              <div class="col-12">
                                 <div class="form-group">
                                    <textarea class="form-control w-100" name="body" id="comment" cols="30" rows="9"
                                       placeholder="Write Comment" required=""></textarea>
                                 </div>
                              </div>
                              <div class="col-sm-6">
                                 <div class="form-group">
                                    {% comment %} <input class="form-control" name="name" id="name" type="hidden" placeholder="Name"
                                       required=""> {% endcomment %}
                                    <input class="form-control" value="{{user.username}}" name="name" id="name" type="hidden" placeholder="Name" required="">                                    
                                    <input name="parentsno" type="hidden" value="{{comment.id}}">
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <button type="submit" class="genric-btn success circle">Post Reply</button>
                           </div>
                        </form>
                        <!-- Reply Form End -->
                     </div>
                  </div>
                  <!-- Replies List Start -->
                  <div class="reply mt-20">
                     {% for reply in comment.replies.all %}
                     <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                           <div class="user justify-content-between d-flex">
                              <div class="thumb">
                                 <img src="{% static 'assets/img/comment/user.png' %}" alt="">
                              </div>
                              <div class="desc">
                                 <p class="comment">
                                    {{ reply.body }}
                                 </p>
                                 <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                       <h5>
                                          <a href="#">{{ reply.name }}</a>
                                       </h5>
                                       <p class="date">{{ reply.date_added }}</p>
                                    </div>
                                 </div>
                                 {% if user.username == reply.name %}
                                 <form action="." method="POST" class="delete_comment">
                                    {% csrf_token %}
                                    <input type="hidden" name="comment_id" value="{{ reply.id }}" />
                                    <button class="btn-reply text-uppercase p-0" type="button" data-toggle="modal" data-target="#staticBackdrop">Delete</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                       <div class="modal-dialog">
                                       <div class="modal-content">
                                          <div class="modal-header">
                                             <h5 class="modal-title" id="staticBackdropLabel">Confirm Delete</h5>
                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                             <span aria-hidden="true">&times;</span>
                                             </button>
                                          </div>
                                          <div class="modal-body">
                                             Do you really want to delete these records? This process cannot be undone.
                                          </div>
                                          <div class="modal-footer">
                                             <button type="button" class="genric-btn primary" data-dismiss="modal">Close</button>
                                             <button type="submit" class="genric-btn danger">Delete</button>
                                          </div>
                                       </div>
                                       </div>
                                    </div>
                                    <!-- Modal -->
                                 </form>
                                 {%endif%}
                              </div>
                           </div>
                        </div>
                     </div>
                     {% endfor %}
                  </div>
                  <!-- Replies List End -->
               </div>
               <!-- Reply End -->
            </div>
         </div>
      </div>
   </div>
   {% endfor %}
   <!-- for loop end -->
   {% if blog.comment.count > 4 %}
   <!-- SHOW MORE BUTTON START -->
   <div class="container">
      <a href="#" id="loadMore" class="genric-btn success circle">Show More</a>
   </div>
   <!-- SHOW MORE BUTTON END -->
   {% endif %}
   {% endif %}

   {% comment %} <!-- if condition end -->
   <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="genric-btn danger circle">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="genric-btn danger circle">previous</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="genric-btn danger circle">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="genric-btn danger circle">last &raquo;</a>
        {% endif %}
    </span>
</div> {% endcomment %}
</div>
<!--  Comment End  -->
<!--  Comment Start  -->
{% for message in messages %}
<div class="modal fade" id="message_modal" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog " role="document">
       <div class="alert {{ message.tags }} " role="alert">
         {{ message }}
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">×</span>
          </button>
       </div>
   </div>
 </div>
{% endfor %}

<div class="comment-form">
   <h4>Leave a Comment</h4>
   <form class="form-contact comment_form" action="." id="commentForm" method="POST">
      {% csrf_token %}
      <div class="row">
         <div class="col-12">
            <div class="form-group">
               <textarea class="form-control w-100" name="body" id="comment" cols="30" rows="9"
                  placeholder="Write Comment" required=""></textarea>
            </div>
         </div>
         <!-- <div class="col-sm-6"> Small field for email -->
         <div class="col-12">
            <div class="form-group">
               <input class="form-control" name="email" id="email" type="email" placeholder="Email (optional)">
            </div>
         </div>
         <!-- <div class="col-12">
            <div class="form-group">
               <input class="form-control" name="website" id="website" type="text" placeholder="Website (optional)" >
            </div>
         </div> -->
         <div class="col-sm-6">
            <div class="form-group">
               <input class="form-control" value="{{user.username}}" name="name" id="name" type="hidden" placeholder="Name" required="">
               <input name="parentsno" type="hidden" value="">
            </div>
         </div>
      </div>
      <div class="form-group">
         <button type="submit" class="button button-contactForm btn_1 boxed-btn">Post Comment</button>
      </div>
   </form>
</div>
</div>
<!--  Comment End  -->