<!-- Like Button Start -->  
<form action="." method="POST" class="like">
{% csrf_token %}
{% if liked %}
    <button type="submit", name="blog_id", value="{{ blog.id }}" style="background-color: Transparent; background-repeat:no-repeat;border: none; cursor:pointer; overflow: hidden; outline:none;"><p class="like-info"><span class="align-middle"><i class="fa fa-heart" style="font-size:30px;color:red" type="submit"></i></span>{{total_likes}} -Likes</p></button></form>
{% else %}
    <button type="submit", name="blog_id", value="{{ blog.id }}" style="background-color: Transparent; background-repeat:no-repeat;border: none; cursor:pointer; overflow: hidden; outline:none;"><p class="like-info"><span class="align-middle"><i class="fa fa-heart" style="font-size:30px;color:black" type="submit"></i></span>{{total_likes}} -Likes</p></button></form>
{% endif %}
<!-- Like Button End -->
{% if user.is_authenticated %}
{% else %}
{% for message in messages %}
<div class="modal fade" id="message_modal" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog " role="document">
       <div class="alert {{ message.tags }} " role="alert">
         {{ message }}
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">×</span>
          </button>
       </div>
   </div>
 </div>
{% endfor %}
{% endif %}