{% load static %}
<!doctype html>
<html class="no-js" lang="eng">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> {% block title %} Code Core {% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="manifest" href="{% static 'site.webmanifest' %}"> -->
    <!-- Highlighter -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@10.4.0/styles/atom-one-dark.css">

    <!-- Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

	<!-- CSS here -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/loder.png'%}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top d-none d-lg-block">
                    <!-- Left Social -->
                    <div class="header-left-social">
                        <ul class="header-social">    
                            <li><a href="https://twitter.com/code_core"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/codec_ore"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com/code.core.9619"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/codec_ore"><i class="fab fa-google"></i></a></li>
                        </ul>
                    </div>
                    <div class="container">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>     
                                        <li>codecore8@gmail.com</li>
                                        <li></li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul>
                                        {% if user.is_authenticated %}
                                        <li><div class="dropdown">
                                        {% if user.is_staff or user.is_superuser %}                                        
                                        <a href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-user"></i>Hello, {{user.username}}</a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <a class="dropdown-item" type="button" href="{% url 'edit_profile' %}">User Profile</a>
                                            <a class="dropdown-item" type="button" href="{% url 'my_blog' %}">My Blogs</a>
                                            <a class="dropdown-item" type="button" href="#">My Courses</a>                                            
                                        </div>
                                        {% else %}
                                        <a href="{% url 'edit_profile' %}"><i class="ti-user"></i>Hello, {{user.username}}</a>
                                        {% endif %}
                                        </div></li>
                                        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                                        {% else %}
                                        <li><a href="{% url 'login' %}"><i class="ti-user"></i>Login</a></li>
                                        <li><a href="{% url 'register' %}"><i class="ti-lock"></i>Register</a></li>
                                        {% endif %} 
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Moble login -->
                <div class="header-top d-lg-none">
                    <div class="container">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                 
                                </div>
                                <div class="header-info-right">
                                    <ul>
                                        {% if user.is_authenticated %}
                                        <li><div class="dropdown">
                                        {% if user.is_staff or user.is_superuser %}                                        
                                        <a href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ti-user"></i>Hello, {{user.username}}</a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <a class="dropdown-item" type="button" href="{% url 'edit_profile' %}">User Profile</a>
                                            <a class="dropdown-item" type="button" href="{% url 'my_blog' %}">My Blogs</a>
                                            <a class="dropdown-item" type="button" href="#">My Courses</a>                                            
                                        </div>
                                        {% else %}
                                        <a href="{% url 'edit_profile' %}"><i class="ti-user"></i>Hello, {{user.username}}</a>
                                        {% endif %}
                                        </div></li>
                                        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                                        {% else %}
                                        <li><a href="{% url 'login' %}"><i class="ti-user"></i>Login</a></li>
                                        <li><a href="{% url 'register' %}"><i class="ti-lock"></i>Register</a></li>
                                        {% endif %} 
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Moble login -->
                <div class="header-bottom header-sticky">
                    <!-- Logo -->
                    <div class="logo d-none d-lg-block">
                        <a href="#"><img src="{% static 'assets/img/logo/logo.png'%}" alt=""></a>
                    </div>
                    <div class="container">
                        <div class="menu-wrapper">
                            <!-- Logo -->
                            <div class="logo logo2 d-block d-lg-none">
                                <a href="#"><img src="{% static 'assets/img/logo/logo.png'%}" alt=""></a>
                            </div>
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">                                                                                          
                                        <li><a href="{% url 'index' %}">Home</a></li>
                                        <li><a href="#">Courses</a></li>
                                        <li><a href="{% url 'blog' %}">Blog</a>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- Header-btn -->
                            <div class="header-search d-none d-lg-block">
                                <form action="#" class="form-box f-right ">
                                    <input type="text" name="Search" placeholder="Search Courses">
                                    <div class="search-icon">
                                        <i class="fas fa-search special-tag"></i>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <footer>
        <!--? Footer Start-->
        <div class="footer-area footer-bg">
            <div class="container">
                <div class="footer-top footer-padding">
                    <!-- footer Heading -->
                    <div class="footer-heading">
                        <div class="row justify-content-between">
                            <div class="col-xl-6 col-lg-7 col-md-10">
                                <div class="footer-tittle2">
                                    <h4>Stay Updated</h4>
                                </div>
                                <!-- Form -->
                                <div class="footer-form mb-50">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="" method="POST" class="subscribe_form relative mail_part" novalidate="true" id = "subscribe" form method = 'POST'>
                                            {% csrf_token %}                                         
                                            <input id = "email_id" name = "email_id" type="email" placeholder=" Email Address " class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'" required="">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id = "email_submit" class="email_icon newsletter-submit button-contactForm">
                                                    Subscribe Now
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5">
                                <div class="footer-tittle2">
                                    <h4>Let’s Get Social</h4>
                                </div>
                                <!-- Footer Social -->
                                <div class="footer-social">
                                    <a href="https://www.facebook.com/code.core.9619"><i class="fab fa-facebook-f"></i></a>
                                    <a href=" https://twitter.com/code_core"><i class="fab fa-twitter"></i></a>
                                    <a  href="https://www.instagram.com/codec_ore"><i class="fab fa-google"></i></a>
                                    <a href="https://www.instagram.com/codec_ore"><i class="fab fa-instagram"></i></a>
                                    <a href="https://www.instagram.com/codec_ore"><i class="fab fa-youtube"></i></a>
                                  </div>
                            </div>
                        </div>
                    </div>
                    
                <!-- Footer Bottom -->
                <div class="footer-bottom">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-12">
                            <div class="footer-copy-right text-center">
                                <p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is edited with<i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://www.instagram.com/codec_ore" target="_blank">Code_ore</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static './assets/js/popper.min.js' %}"></script>
    <script src="{% static './assets/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static './assets/js/slick.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static './assets/js/wow.min.js' %}"></script>
    <script src="{% static './assets/js/animated.headline.js' %}"></script>
    <script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

    <!-- Date Picker -->
    <script src="{% static './assets/js/gijgo.min.js' %}"></script>
    <!-- Nice-select, sticky -->
    <script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static './assets/js/jquery.sticky.js' %}"></script>
    
    <!-- counter , waypoint -->
    <script src="{% static './assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static './assets/js/waypoints.min.js' %}"></script>
    
    <!-- contact js -->
    <script src="{% static './assets/js/contact.js' %}"></script>
    <script src="{% static './assets/js/jquery.form.js' %}"></script>
    <script src="{% static './assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static './assets/js/mail-script.js' %}"></script>
    <script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="{% static './assets/js/plugins.js' %}"></script>
    <script src="{% static './assets/js/main.js' %}"></script>
    <script src="{% static './assets/js/render.js' %}"></script>

    <!-- Highlighter -->	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
